<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	  <p>
    This Splurty app was built by <a target="_blank" href="http://github.com/hbridges">Harvey</a> 
  </p>
  <br />
  
  <p>
    If you would like to learn to code as well - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'harvey.png', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Harvey Bridges</h2>
    <br />
    <p>
      Currently a Locksmith in Denver Co as well as a web developer student at FirhoseProject ,  looking forward to jumping into the programing scene.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />